In [22]:
import pandas as pd

url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/french-ambs.csv"
df = pd.read_csv(url)

df.head(10)

   id                      name    place  year    lat   long      lat_long
0   0        Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1        Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2        Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57
3   3        Danzay, Charles de  Denmark  1563  55.68  12.57  55.68, 12.57
4   4        Danzay, Charles de  Denmark  1582  55.68  12.57  55.68, 12.57
5   5        Bapaume, Robert de  England  1516  51.51  -0.12  51.51, -0.12
6   6  Passano, Jean-Joachim de  England  1527  51.51  -0.12  51.51, -0.12
7   7               De Monpreat  England  1532  51.51  -0.12  51.51, -0.12
8   8           Du Bellay, Jean  England  1530  51.51  -0.12  51.51, -0.12
9   9     Castelnau, Antoine de  England  1534  51.51  -0.12  51.51, -0.12

In [23]:
# file paths
# absolute
#c:\users\erinl\onedrive\documents\py-cda\class work\
# relative (cool)
# ./ [where we are]
# ../ [go up a level]
# ../../../
# ./data/

In [24]:
# df.to_csv("./data/french-ambs.csv", index=False)
# commented out because we don't want to do this again and again, but this is how you would save the file to your local computer. 
# You can also save it to a different location if you want, just change the path.

In [25]:
df = pd.read_csv("./data/french-ambs.csv")
df.head()

   id                name    place  year    lat   long      lat_long
0   0  Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1  Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2  Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57
3   3  Danzay, Charles de  Denmark  1563  55.68  12.57  55.68, 12.57
4   4  Danzay, Charles de  Denmark  1582  55.68  12.57  55.68, 12.57

In [26]:
df.loc[0, "name"]

'Richer, Christophe'

In [27]:
df.loc[df["place"] == "England", "name"]

5            Bapaume, Robert de
6      Passano, Jean-Joachim de
7                   De Monpreat
8               Du Bellay, Jean
9         Castelnau, Antoine de
                 ...
817     La Pommeraie, Gilles de
818                   Pot, Jean
819              De Selve, Odet
820             La Fin, Jean de
821    L'Aubspine, Guillaume de
Name: name, Length: 93, dtype: object

In [28]:
# iloc
# finds location by index

df.iloc[0, 1]

'Richer, Christophe'

In [29]:
df.iloc[72]

id                                           72
name        Rougier, François, Baron of Ferrals
place                               Netherlands
year                                       1568
lat                                       52.37
long                                       4.89
lat_long                            52.37, 4.89
Name: 72, dtype: object

In [30]:
for i in range(10):
    print(df.iloc[i])

id                           0
name        Richer, Christophe
place                  Denmark
year                      1543
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 0, dtype: object
id                           1
name        Richer, Christophe
place                  Denmark
year                      1541
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 1, dtype: object
id                           2
name        Danzay, Charles de
place                  Denmark
year                      1561
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 2, dtype: object
id                           3
name        Danzay, Charles de
place                  Denmark
year                      1563
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 3, dtype: object
id                           4
name        Danzay, Charles de
place                  Denmark
year                      1582
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 4, dtype: object
id                           5
name        Bapaume, Robert de
place                  England
year                      1516
lat                      51.51
long                     -0.12
lat_long          51.51, -0.12
Name: 5, dtype: object
id                                 6
name        Passano, Jean-Joachim de
place                        England
year                            1527
lat                            51.51
long                           -0.12
lat_long                51.51, -0.12
Name: 6, dtype: object
id                     7
name         De Monpreat
place            England
year                1532
lat                51.51
long               -0.12
lat_long    51.51, -0.12
Name: 7, dtype: object
id                        8
name        Du Bellay, Jean
place               England
year                   1530
lat                   51.51
long                  -0.12
lat_long       51.51, -0.12
Name: 8, dtype: object
id                              9
name        Castelnau, Antoine de
place                     England
year                         1534
lat                         51.51
long                        -0.12
lat_long             51.51, -0.12
Name: 9, dtype: object

In [31]:
# rename with iloc
# df.iloc[0, 1] = "New Name"

In [32]:
df.iloc[0:3]
# [0:3] means rows 0, 1, and 2. It does not include row 3. This is called slicing.

   id                name    place  year    lat   long      lat_long
0   0  Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1  Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2  Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57

In [33]:
# .at[] , .iat[] are faster than .loc[] and .iloc[] but only work for single values, not slices.

df.at[0, "place"]

'Denmark'

In [34]:
df.iat[0,3]

np.int64(1543)

In [35]:
# can rename with iat too
# df.iat[0,3] = "New Year"

In [36]:
# iterating

# every df has a list of columns
df.columns

Index(['id', 'name', 'place', 'year', 'lat', 'long', 'lat_long'], dtype='object')

In [37]:
for col in df.columns:
    print(col, pd.api.types.is_numeric_dtype(df[col]))

id True
name False
place False
year True
lat True
long True
lat_long False

In [38]:
# loop over rows
# iterrows returns a list
for idx, item in df.iterrows():
    print(item["place"])

Denmark
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Portugal
Rome
Portugal
Rome
Rome
Rome
Rome
Savoy
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Venice
Denmark
England
England
England
England
England
England
England
Grisons
England
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
Denmark
England
England
Denmark
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Savoy
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Ferrara
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Rome
Rome
Scotland
Scotland
Spain
Venice
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
Ferrara
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Spain
Spain
Scotland
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Poland
Poland
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Ferrara
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Rome
Rome
Rome
Rome
Rome
Savoy
Saxony
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Tuscany
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Venice
Denmark
Denmark
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Savoy
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Swiss Cantons
Venice
Venice
Holy Roman Empire

In [40]:
# itertuples () is faster

for item in df.itertuples():
    print(item)

Pandas(Index=0, id=0, name='Richer, Christophe', place='Denmark', year=1543, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=1, id=1, name='Richer, Christophe', place='Denmark', year=1541, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=2, id=2, name='Danzay, Charles de', place='Denmark', year=1561, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=3, id=3, name='Danzay, Charles de', place='Denmark', year=1563, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=4, id=4, name='Danzay, Charles de', place='Denmark', year=1582, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=5, id=5, name='Bapaume, Robert de', place='England', year=1516, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=6, id=6, name='Passano, Jean-Joachim de', place='England', year=1527, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=7, id=7, name='De Monpreat', place='England', year=1532, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=8, id=8, name='Du Bellay, Jean', place='England', year=1530, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=9, id=9, name='Castelnau, Antoine de', place='England', year=1534, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=10, id=10, name='De Selve, Odet', place='England', year=1547, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=11, id=11, name='Castelneau, Michel de', place='England', year=1580, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=12, id=12, name='Castelneau, Michel de', place='England', year=1585, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=13, id=13, name='La Fin, Jean de', place='England', year=1592, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=14, id=14, name='La Mothe-Fénélon, Bertrand de Salignac de', place='England', year=1570, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=15, id=15, name='Boistaillé, Jean Hurault de', place='Geneva', year=1560, lat=46.21, long=6.14, lat_long='46.21, 6.14')
Pandas(Index=16, id=16, name='Castion, Jean-Jacques de', place='Grisons', year=1543, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=17, id=17, name='Monstiers, Jean de', place='Grisons', year=1553, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=18, id=18, name='Salazar, Louis de', place='Grisons', year=1554, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=19, id=19, name='Gredio, Christian', place='Grisons', year=1560, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=20, id=20, name='Crassier, Bernard de', place='Grisons', year=1566, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=21, id=21, name='Grangier, Jean', place='Grisons', year=1575, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=22, id=22, name='Florin, Jean', place='Grisons', year=1578, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=23, id=23, name='Bochetel, Bernardin', place='Holy Roman Empire', year=1567, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=24, id=24, name='Vulcob, Jean de, sr. de Sassy', place='Holy Roman Empire', year=1575, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=25, id=25, name='Vulcob, Jean de, sr. de Sassy', place='Holy Roman Empire', year=1571, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=26, id=26, name='Choary, Paul', place='Netherlands', year=1593, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=27, id=27, name="d'Aramon, Gabriel Leutz", place='Ottoman Empire', year=1548, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=28, id=28, name='La Triquerie, Pierre de', place='Ottoman Empire', year=1570, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=29, id=29, name='La Triquerie, Pierre de', place='Ottoman Empire', year=1572, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=30, id=30, name='Berthier, Sébastien', place='Ottoman Empire', year=1586, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=31, id=31, name='De Brèves, François Savary', place='Ottoman Empire', year=1594, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=32, id=32, name='De Caix, Honoré', place='Portugal', year=1534, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=33, id=33, name='De Caix, Honoré', place='Portugal', year=1556, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=34, id=34, name='Nicot, Jean', place='Portugal', year=1560, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=35, id=35, name='De Selve, Georges', place='Rome', year=1537, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=36, id=36, name='Langeac, Jean de', place='Rome', year=1539, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=37, id=37, name='De Selve, Jean-Paul', place='Rome', year=1557, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=38, id=38, name='Vivonne, Jean de', place='Rome', year=1585, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=39, id=39, name='Clutin, Henri', place='Scotland', year=1557, lat=55.95, long=-3.19, lat_long='55.95, -3.19')
Pandas(Index=40, id=40, name="d'Ebrard de Saint Sulpice, Jean", place='Spain', year=1565, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=41, id=41, name='Fourquevaux, Raymond de Beccarie de Pavie, Baron of', place='Spain', year=1569, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=42, id=42, name='Daugerant, Louis', place='Swiss Cantons', year=1525, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=43, id=43, name='Daugerant, Louis', place='Swiss Cantons', year=1522, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=44, id=44, name='Daugerant, Louis', place='Swiss Cantons', year=1527, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=45, id=45, name='Marveilleux, Jean', place='Swiss Cantons', year=1546, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=46, id=46, name='Du Plessis, Guillaume', place='Swiss Cantons', year=1550, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=47, id=47, name='Clausse, Henri', place='Swiss Cantons', year=1583, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=48, id=48, name='Crassier, Bernard de', place='Swiss Cantons', year=1586, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=49, id=49, name='De Baif, Lazare', place='Venice', year=1534, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=50, id=50, name='Pellicier, Guillaume', place='Venice', year=1539, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=51, id=51, name='Du Ferrier, Arnaud', place='Venice', year=1565, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=52, id=52, name='Du Ferrier, Arnaud', place='Venice', year=1564, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=53, id=53, name='Du Ferrier, Arnaud', place='Venice', year=1578, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=54, id=54, name='Richer, Christophe', place='Denmark', year=1542, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=55, id=55, name='Richer, Christophe', place='Denmark', year=1546, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=56, id=56, name='Danzay, Charles de', place='Denmark', year=1573, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=57, id=57, name='Danzay, Charles de', place='Denmark', year=1586, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=58, id=58, name='Noailles, François de, Bishop of Dax', place='England', year=1557, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=59, id=59, name='Carli, Grégoire', place='Grisons', year=1560, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=60, id=60, name='Grantrie, Pierre de', place='Grisons', year=1573, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=61, id=61, name='Florin, Jean', place='Grisons', year=1584, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=62, id=62, name='Grangier, Jean', place='Grisons', year=1587, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=63, id=63, name='Dodieu, Claude', place='Holy Roman Empire', year=1534, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=64, id=64, name='Mesnage, Jacques', place='Holy Roman Empire', year=1546, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=65, id=65, name='Mesnage, Jacques', place='Holy Roman Empire', year=1552, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=66, id=66, name='Calvimont, Jean de', place='Holy Roman Empire', year=1527, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=67, id=67, name='Bochetel, Bernardin', place='Holy Roman Empire', year=1561, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=68, id=68, name='Ancel, Guillaume', place='Holy Roman Empire', year=1594, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=69, id=69, name='Ancel, Guillaume', place='Holy Roman Empire', year=1599, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=70, id=70, name='Ancel, Guillaume', place='Holy Roman Empire', year=1585, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=71, id=71, name='Ancel, Guillaume', place='Holy Roman Empire', year=1592, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=72, id=72, name='Rougier, François, Baron of Ferrals', place='Netherlands', year=1568, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=73, id=73, name='Blatier, Claude', place='Netherlands', year=1582, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=74, id=74, name='Choary, Paul', place='Netherlands', year=1598, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=75, id=75, name='Choary, Paul', place='Netherlands', year=1600, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=76, id=76, name='Marillac, Charles de', place='Ottoman Empire', year=1539, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=77, id=77, name='Rincon, Antoine de', place='Ottoman Empire', year=1540, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=78, id=78, name="d'Aramon, Gabriel Leutz", place='Ottoman Empire', year=1552, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=79, id=79, name='Germigny, Jacques de', place='Ottoman Empire', year=1583, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=80, id=80, name='De Brèves, François Savary', place='Ottoman Empire', year=1597, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=81, id=81, name="Noailles, Gilles de, Abbot of L'Isle", place='Poland', year=1573, lat=52.23, long=21.02, lat_long='52.23, 21.02')
Pandas(Index=82, id=82, name='De Caix, Honoré', place='Portugal', year=1528, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=83, id=83, name='Pélisson, Raymond', place='Portugal', year=1539, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=84, id=84, name='Nicot, Jean', place='Portugal', year=1565, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=85, id=85, name='Nicot, Jean', place='Portugal', year=1574, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=86, id=86, name='Gramont, Gabriel de', place='Rome', year=1530, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=87, id=87, name='De Caix, Honoré', place='Portugal', year=1525, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=88, id=88, name="Noailles, Gilles de, Abbot of L'Isle", place='Rome', year=1561, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=89, id=89, name='Tournon, Just de', place='Rome', year=1566, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=90, id=90, name='Foix, Paul de', place='Rome', year=1580, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=91, id=91, name='Chasteionier, Louis', place='Rome', year=1581, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=92, id=92, name='Des Barres, Louis', place='Savoy', year=1529, lat=45.06, long=7.68, lat_long='45.06, 7.68')
Pandas(Index=93, id=93, name="d'Esneval, Baron", place='Scotland', year=1585, lat=55.95, long=-3.19, lat_long='55.95, -3.19')
Pandas(Index=94, id=94, name='Vivonne, Jean de', place='Spain', year=1574, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=95, id=95, name='Vivonne, Jean de', place='Spain', year=1580, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=96, id=96, name='Daugerant, Louis', place='Swiss Cantons', year=1536, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=97, id=97, name='Morlet, Antoine', place='Swiss Cantons', year=1551, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=98, id=98, name='Bochetel, Bernardin', place='Swiss Cantons', year=1554, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=99, id=99, name='La Croix, Nicolas de', place='Swiss Cantons', year=1564, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=100, id=100, name='Bellièvre, Pomponne de', place='Swiss Cantons', year=1570, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=101, id=101, name='Bellièvre, Jean de, sr. de Hautefort', place='Swiss Cantons', year=1579, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=102, id=102, name='Vigier, Jean', place='Swiss Cantons', year=1581, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=103, id=103, name='De Pins, Jean', place='Venice', year=1517, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=104, id=104, name='De Pins, Jean', place='Venice', year=1518, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=105, id=105, name='Du Gabre, Dominique', place='Venice', year=1554, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=106, id=106, name='Carmain, Paul de', place='Venice', year=1569, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=107, id=107, name='Du Ferrier, Arnaud', place='Venice', year=1576, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=108, id=108, name='De Selve, Odet', place='Venice', year=1551, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=109, id=109, name='Hurault, André', place='Venice', year=1583, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=110, id=110, name='Hurault, André', place='Venice', year=1587, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=111, id=111, name='Hurault, André', place='Venice', year=1594, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=112, id=112, name='Séguier, Antoine', place='Venice', year=1599, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=113, id=113, name='De Selve, Jean-Paul', place='Rome', year=1556, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=114, id=114, name='Hurault, André', place='Venice', year=1591, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=115, id=115, name='Danzay, Charles de', place='Denmark', year=1565, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=116, id=116, name='Dinteville, Jean de', place='England', year=1536, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=117, id=117, name='Noailles, Antoine de', place='England', year=1555, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=118, id=118, name='Noailles, Antoine de', place='England', year=1556, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=119, id=119, name="Noailles, Gilles de, Abbot of L'Isle", place='England', year=1560, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=120, id=120, name='Bochetel, Jacques', place='England', year=1566, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=121, id=121, name='Bochetel, Jacques', place='England', year=1567, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=122, id=122, name='Castelneau, Michel de', place='England', year=1577, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=123, id=123, name='Grangis, Geoffroy de', place='Grisons', year=1529, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=124, id=124, name='Thumbry, Jean de', place='England', year=1599, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=125, id=125, name='Carli, Grégoire', place='Grisons', year=1561, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=126, id=126, name='Gouffier de Bonnivet, Guillaume', place='Holy Roman Empire', year=1519, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=127, id=127, name='Calvimont, Jean de', place='Holy Roman Empire', year=1528, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=128, id=128, name='Marillac, Charles de', place='Holy Roman Empire', year=1548, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=129, id=129, name='Castelnau, Antoine de', place='Holy Roman Empire', year=1538, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=130, id=130, name='Ancel, Guillaume', place='Holy Roman Empire', year=1590, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=131, id=131, name='Blatier, Claude', place='Netherlands', year=1583, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=132, id=132, name='Montdoucet, Claude de', place='Netherlands', year=1573, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=133, id=133, name='Eimars, Antoine Escalin des', place='Ottoman Empire', year=1542, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=134, id=134, name='Grantrie, Guillaume de Grandchamp de', place='Ottoman Empire', year=1567, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=135, id=135, name='Berthier, Sébastien', place='Ottoman Empire', year=1584, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=136, id=136, name='Germigny, Jacques de', place='Ottoman Empire', year=1584, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=137, id=137, name='Lancosme, Jacques Savary de', place='Ottoman Empire', year=1590, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=138, id=138, name='De Brèves, François Savary', place='Ottoman Empire', year=1595, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=139, id=139, name="Noailles, Gilles de, Abbot of L'Isle", place='Poland', year=1574, lat=52.23, long=21.02, lat_long='52.23, 21.02')
Pandas(Index=140, id=140, name='Carmain, Paul de', place='Rome', year=1583, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=141, id=141, name='Fourquevaux, Raymond de Beccarie de Pavie, Baron of', place='Spain', year=1567, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=142, id=142, name='Daugerant, Louis', place='Swiss Cantons', year=1529, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=143, id=143, name='Marveilleux, Jean', place='Swiss Cantons', year=1544, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=144, id=144, name="L'Aubespine, Sébastien de", place='Swiss Cantons', year=1554, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=145, id=145, name='Bellièvre, Pomponne de', place='Swiss Cantons', year=1571, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=146, id=146, name='Clausse, Henri', place='Swiss Cantons', year=1584, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=147, id=147, name='De Pins, Jean', place='Venice', year=1519, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=148, id=148, name='De Pins, Jean', place='Venice', year=1520, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=149, id=149, name='Langrac, Jean de', place='Venice', year=1529, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=150, id=150, name='De Baif, Lazare', place='Venice', year=1533, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=151, id=151, name='Passano, Jean-Joachim de', place='Venice', year=1538, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=152, id=152, name='Hurault, André', place='Venice', year=1588, lat=45.44, long=12.33, lat_long='45.44, 12.33')

In [41]:
for item in df.itertuples():
    print(item.name) # named tuples use dot notation

Richer, Christophe
Richer, Christophe
Danzay, Charles de
Danzay, Charles de
Danzay, Charles de
Bapaume, Robert de
Passano, Jean-Joachim de
De Monpreat
Du Bellay, Jean
Castelnau, Antoine de
De Selve, Odet
Castelneau, Michel de
Castelneau, Michel de
La Fin, Jean de
La Mothe-Fénélon, Bertrand de Salignac de
Boistaillé, Jean Hurault de
Castion, Jean-Jacques de
Monstiers, Jean de
Salazar, Louis de
Gredio, Christian
Crassier, Bernard de
Grangier, Jean
Florin, Jean
Bochetel, Bernardin
Vulcob, Jean de, sr. de Sassy
Vulcob, Jean de, sr. de Sassy
Choary, Paul
d'Aramon, Gabriel Leutz
La Triquerie, Pierre de
La Triquerie, Pierre de
Berthier, Sébastien
De Brèves, François Savary
De Caix, Honoré
De Caix, Honoré
Nicot, Jean
De Selve, Georges
Langeac, Jean de
De Selve, Jean-Paul
Vivonne, Jean de
Clutin, Henri
d'Ebrard de Saint Sulpice, Jean
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Daugerant, Louis
Daugerant, Louis
Daugerant, Louis
Marveilleux, Jean
Du Plessis, Guillaume
Clausse, Henri
Crassier, Bernard de
De Baif, Lazare
Pellicier, Guillaume
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Richer, Christophe
Richer, Christophe
Danzay, Charles de
Danzay, Charles de
Noailles, François de, Bishop of Dax
Carli, Grégoire
Grantrie, Pierre de
Florin, Jean
Grangier, Jean
Dodieu, Claude
Mesnage, Jacques
Mesnage, Jacques
Calvimont, Jean de
Bochetel, Bernardin
Ancel, Guillaume
Ancel, Guillaume
Ancel, Guillaume
Ancel, Guillaume
Rougier, François, Baron of Ferrals
Blatier, Claude
Choary, Paul
Choary, Paul
Marillac, Charles de
Rincon, Antoine de
d'Aramon, Gabriel Leutz
Germigny, Jacques de
De Brèves, François Savary
Noailles, Gilles de, Abbot of L'Isle
De Caix, Honoré
Pélisson, Raymond
Nicot, Jean
Nicot, Jean
Gramont, Gabriel de
De Caix, Honoré
Noailles, Gilles de, Abbot of L'Isle
Tournon, Just de
Foix, Paul de
Chasteionier, Louis
Des Barres, Louis
d'Esneval, Baron
Vivonne, Jean de
Vivonne, Jean de
Daugerant, Louis
Morlet, Antoine
Bochetel, Bernardin
La Croix, Nicolas de
Bellièvre, Pomponne de
Bellièvre, Jean de, sr. de Hautefort
Vigier, Jean
De Pins, Jean
De Pins, Jean
Du Gabre, Dominique
Carmain, Paul de
Du Ferrier, Arnaud
De Selve, Odet
Hurault, André
Hurault, André
Hurault, André
Séguier, Antoine
De Selve, Jean-Paul
Hurault, André
Danzay, Charles de
Dinteville, Jean de
Noailles, Antoine de
Noailles, Antoine de
Noailles, Gilles de, Abbot of L'Isle
Bochetel, Jacques
Bochetel, Jacques
Castelneau, Michel de
Grangis, Geoffroy de
Thumbry, Jean de
Carli, Grégoire
Gouffier de Bonnivet, Guillaume
Calvimont, Jean de
Marillac, Charles de
Castelnau, Antoine de
Ancel, Guillaume
Blatier, Claude
Montdoucet, Claude de
Eimars, Antoine Escalin des
Grantrie, Guillaume de Grandchamp de
Berthier, Sébastien
Germigny, Jacques de
Lancosme, Jacques Savary de
De Brèves, François Savary
Noailles, Gilles de, Abbot of L'Isle
Carmain, Paul de
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Daugerant, Louis
Marveilleux, Jean
L'Aubespine, Sébastien de
Bellièvre, Pomponne de
Clausse, Henri
De Pins, Jean
De Pins, Jean
Langrac, Jean de
De Baif, Lazare
Passano, Jean-Joachim de
Hurault, André
Danzay, Charles de
Danzay, Charles de
Richer, Christophe
Danzay, Charles de
Danzay, Charles de
Gouffier de Bonnivet, Guillaume
Passano, Jean-Joachim de
Danzay, Charles de
Foix, Paul de
L'Aubspine, Guillaume de
Gredio, Christian
Grantrie, Pierre de
Florin, Jean
Florin, Jean
Dodieu, Claude
Mesnage, Jacques
Bochetel, Bernardin
Ancel, Guillaume
Ancel, Guillaume
Testu, Jean
Ferry, Jean
Montdoucet, Claude de
Choary, Paul
Rincon, Antoine de
Cambray, Jacques de
Grantrie, Guillaume de Grandchamp de
La Triquerie, Pierre de
Juyé, Sébastien de
Germigny, Jacques de
De Brèves, François Savary
Nicot, Jean
Adhemar, Louis
d'Urfé, Claude
De Selve, Odet
De Selve, Odet
St.-Marcel, Jean de
Chasteionier, Louis
Sr. de Sauves
L'Aubespine, Sébastien de
Longlée, Pierre de Seguson de
Longlée, Pierre de Seguson de
Daugerant, Louis
Maillard, Guillaume
Villars, Jean de
Daugerant, Louis
Marveilleux, Jean
Bochetel, Bernardin
Clerc, Hugues
Coignet, Mathieu
Coignet, Mathieu
Hotman,François
Langrac, Jean de
De Selve, Georges
De Selve, Odet
De Selve, Odet
Du Ferrier, Arnaud
Hurault, André
Hurault, André
Danzay, Charles de
Langeac, Jean de
Grangis, Geoffroy de
Thumbry, Jean de
Salazar, Louis de
Carli, Grégoire
Gredio, Christian
Grangier, Jean
Grantrie, Pierre de
Mesnage, Jacques
Marillac, Charles de
Vulcob, Jean de, sr. de Sassy
Ancel, Guillaume
Bochetel, Jacques
Ferry, Jean
Montdoucet, Claude de
Blatier, Claude
Choary, Paul
d'Aramon, Gabriel Leutz
Dolu, Jean
Dolu, Jean
Pétremol, Antoine de
De Caix, Honoré
Nicot, Jean
Lancosme, Jacques Savary de
Rougier, François, Baron of Ferrals
Vivonne, Jean de
Clutin, Henri
Du Croc, Philibert
Longlée, Pierre de Seguson de
De Pins, Jean
Wallier, Jean
De Selve, Georges
De Selve, Georges
Jean de Morvillier
Morvillier, Jean de
Boistaillé, Jean Hurault de
Carmain, Paul de
Carmain, Paul de
Du Ferrier, Arnaud
Hurault, André
Danzay, Charles de
Marillac, Charles de
Bochetel, Jacques
La Mothe-Fénélon, Bertrand de Salignac de
Jean-Jacques de Cambray
Florin, Jean
Soliee, Charles de
Ancel, Guillaume
Ancel, Guillaume
Ancel, Guillaume
Hellin, Antoine de
Hellin, Antoine de
Choary, Paul
Choary, Paul
Cambray, Jacques de
d'Aramon, Gabriel Leutz
Noailles, Gilles de, Abbot of L'Isle
Lancosme, Jacques Savary de
De Brèves, François Savary
De Caix, Honoré
De Caix, Honoré
Nicot, Jean
d'Armagnac, Georges
Rohan, François de
St.-Marcel, Jean de
Babou, Philibert
Tournon, Just de
Rougier, François, Baron of Ferrals
Chasteionier, Louis
Chasteionier, Louis
Chasteionier, Louis
Vivonne, Jean de
Clutin, Henri
Clutin, Henri
Du Croc, Philibert
Courcelles, Baron de
Longlée, Pierre de Seguson de
Vivonne, Jean de
Maillard, Guillaume
Daugerant, Louis
La Rivière, François de
Morlet, Antoine
La Croix, Nicolas de
Bellièvre, Pomponne de
Crassier, Bernard de
Crassier, Bernard de
Clausse, Henri
Brûlart, Nicolas de
Brûlart, Nicolas de
Brûlart, Nicolas de
Wallier, Jean
Morvillier, Jean de
Hurault, François
Danzay, Charles de
Danzay, Charles de
Danzay, Charles de
Noailles, Antoine de
Foix, Paul de
Foix, Paul de
Castelneau, Michel de
Castelneau, Michel de
Du Gabre, Dominique
Grangis, Geoffroy de
Castion, Jean-Jacques de
Carli, Grégoire
Grantrie, Pierre de
Grangier, Jean
Florin, Jean
Grangier, Jean
Dodieu, Claude
Marillac, Charles de
Bochetel, Bernardin
Ancel, Guillaume
Ancel, Guillaume
Rougier, François, Baron of Ferrals
Rincon, Antoine de
Cambray, Jacques de
Noailles, Gilles de, Abbot of L'Isle
Berthier, Sébastien
De Brèves, François Savary
Fayes, Jacques, sr d'Espesses
De Caix, Honoré
Pélisson, Raymond
De Caix, Honoré
Hémard, Charles de
Noailles, Gilles de, Abbot of L'Isle
Clutin, Henri
d'Angennes, Charles, Cardinal of Rambouillet
Clutin, Henri
Clutin, Henri
Du Croc, Philibert
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Courcelles, Baron de
L'Aubespine, Sébastien de
Daugerant, Louis
Daugerant, Louis
Daugerant, Louis
Marveilleux, Jean
Cléry, Peterman de
Brûlart, Nicolas de
d'Armagnac, Georges
Passano, Jean-Joachim de
Pellicier, Guillaume
Morvillier, Jean de
Morvillier, Jean de
Du Gabre, Dominique
Boistaillé, Jean Hurault de
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Hurault, François
Séguier, Antoine
Danzay, Charles de
Dinteville, Jean de
Du Perreau, Louis
De Selve, Odet
Noailles, Gilles de, Abbot of L'Isle
Du Perreau, Louis
De Seurre, Michel
La Fin, Jean de
La Fontaine, Robert de
Castion, Jean-Jacques de
Jean-Jacques de Cambray
Castion, Jean-Jacques de
Grantrie, Pierre de
Florin, Jean
Florin, Jean
De Selve, Georges
Vulcob, Jean de, sr. de Sassy
La Pommeraie, Gilles de
Hellin, Antoine de
Crotto, Livio
Bochetel, Jacques
Montdoucet, Claude de
Choary, Paul
Choary, Paul
d'Aramon, Gabriel Leutz
Grantrie, Guillaume de Grandchamp de
Germigny, Jacques de
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Selve, Odet
De Selve, Jean-Paul
Noailles, Gilles de, Abbot of L'Isle
Clutin, Henri
Adhemar, Louis
Rougier, François, Baron of Ferrals
Schomberg, Gaspard de
d'Ebrard de Saint Sulpice, Jean
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
L'Aubespine, Sébastien de
Longlée, Pierre de Seguson de
Daugerant, Louis
Daugerant, Louis
Daugerant, Louis
Du Plessis, Guillaume
Marveilleux, Jean
Bochetel, Bernardin
Bellièvre, Jean de, sr. de Hautefort
Gaudart, François
Brûlart, Nicolas de
Brûlart, Nicolas de
Hotman,François
Noailles, François de, Bishop of Dax
Boistaillé, Jean Hurault de
Richer, Christophe
Danzay, Charles de
Danzay, Charles de
Danzay, Charles de
Foix, Paul de
Foix, Paul de
La Mothe-Fénélon, Bertrand de Salignac de
La Mothe-Fénélon, Bertrand de Salignac de
Thumbry, Jean de
Grangis, Geoffroy de
Moret, Antoine de
Castion, Jean-Jacques de
Grangis, Geoffroy de
Salazar, Louis de
Gredio, Christian
Gredio, Christian
Bellièvre, Pomponne de
Grangier, Jean
Seigneur d'Orval, governor of Champagne
Soliee, Charles de
Mesnage, Jacques
Bochetel, Bernardin
Ancel, Guillaume
Bochetel, Jacques
La Forest, Jean de
Maggio, Vincenzo
d'Aramon, Gabriel Leutz
d'Aramon, Gabriel Leutz
La Vigne, Jean de
d'Aramon, Gabriel Leutz
Pétremol, Antoine de
Lancosme, Jacques Savary de
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
Nicot, Jean
De Selve, Georges
Langeac, Jean de
Babou, Philibert
Langeac, Jean de
Clutin, Henri
d'Angennes, Charles, Cardinal of Rambouillet
Carmain, Paul de
Foix, Paul de
Vivonne, Jean de
Daugerant, Louis
Daugerant, Louis
Maillard, Guillaume
Daugerant, Louis
Bochetel, Bernardin
Tugginer,Guillaume
Bellièvre, Jean de, sr. de Hautefort
Crassier, Bernard de
Montluc, Jean de
De Selve, Odet
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Hurault, André
Hurault, André
Seyssel, Claude de
Danzay, Charles de
Danzay, Charles de
Danzay, Charles de
Du Perreau, Louis
Pot, Jean
Noailles, Antoine de
L'Aubspine, Guillaume de
L'Aubspine, Guillaume de
La Mothe-Fénélon, Bertrand de Salignac de
Castion, Jean-Jacques de
Castion, Jean-Jacques de
Crassier, Bernard de
Grantrie, Pierre de
La Rouchebeaucourt
Soliee, Charles de
Dodieu, Claude
Dodieu, Claude
De Selve, Georges
Marillac, Charles de
Mesnage, Jacques
Marillac, Charles de
Mesnage, Jacques
Bochetel, Bernardin
L'Aubespine, Sébastien de
Ancel, Guillaume
Ancel, Guillaume
Rougier, François, Baron of Ferrals
Cambray, Jacques de
Noailles, François de, Bishop of Dax
Lansac, Guy de Saint-Gelais de
d'Angennes, Nicolas, Sr. de Rambouillet
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
De Seurre, Miguel
Nicot, Jean
Dinteville, François de
d'Urfé, Claude
Tournon, Just de
Rougier, François, Baron of Ferrals
Vivonne, Jean de
Vivonne, Jean de
Maillard, Guillaume
Villars, Jean de
Bellièvre, Pomponne de
Gaudart, François
Brûlart, Nicolas de
Séguier, Antoine
Hurault, André
Danzay, Charles de
Danzay, Charles de
Du Bellay, Jean
La Pommeraie, Gilles de
Castelnau, Antoine de
Laval, Claude de
Laval, Claude de
Laval, Claude de
De Seurre, Michel
Castelneau, Michel de
Grangis, Geoffroy de
Grangis, Geoffroy de
Castion, Jean-Jacques de
Du Gabre, Dominique
Grangier, Jean
Vulcob, Jean de, sr. de Sassy
Vulcob, Jean de, sr. de Sassy
Ancel, Guillaume
Montdoucet, Claude de
Marillac, Charles de
d'Aramon, Gabriel Leutz
d'Aramon, Gabriel Leutz
Pétremol, Antoine de
Cambray, Jacques de
Grantrie, Guillaume de Grandchamp de
Juyé, Sébastien de
De Brèves, François Savary
Monluc, Jean de, Bishop of Valence
De Caix, Honoré
De Selve, Georges
Noailles, Gilles de, Abbot of L'Isle
Chasteionier, Louis
Foix, Paul de
Vivonne, Jean de
Henri d'Angouleme
Schomberg, Gaspard de
Foix, Paul de
Vivonne, Jean de
Daugerant, Louis
Daugerant, Louis
Marveilleux, Jean
L'Aubespine, Sébastien de
Coignet, Mathieu
Clerc, Hugues
Cléry, Peterman de
Daugerant, Louis
Bellièvre, Jean de, sr. de Hautefort
Hotman,François
Dodieu, Claude
Dodieu, Claude
Canossa, Louis de
Pellicier, Guillaume
Boistaillé, Jean Hurault de
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Du Ferrier, Arnaud
Danzay, Charles de
Danzay, Charles de
Danzay, Charles de
Passano, Jean-Joachim de
Du Bellay, Jean
Marillac, Charles de
Noailles, François de, Bishop of Dax
Dinteville, Jean de
Castelnau, Antoine de
L'Aubspine, Guillaume de
La Fin, Jean de
La Fin, Jean de
Castion, Jean-Jacques de
Grangier, Jean
Grangier, Jean
Grangier, Jean
Bochetel, Bernardin
Ancel, Guillaume
Testu, Jean
Montcoucet, Claude de
d'Aramon, Gabriel Leutz
Noailles, Gilles de, Abbot of L'Isle
Noailles, François de, Bishop of Dax
De Caix, Honoré
Nicot, Jean
Nicot, Jean
d'Armagnac, Georges
d'Angennes, Charles, Cardinal of Rambouillet
Foix, Paul de
d'Esneval, Baron
Vivonne, Jean de
Vivonne, Jean de
Longlée, Pierre de Seguson de
Du Plessis, Guillaume
Bochetel, Bernardin
Crassier, Bernard de
Gaudart, François
Hotman,François
Vigier, Jacques
Wallier, Jean
De Pins, Jean
Canossa, Louis de
De Baif, Lazare
Du Gabre, Dominique
Noailles, François de, Bishop of Dax
Noailles, François de, Bishop of Dax
Carmain, Paul de
Hurault, André
Danzay, Charles de
Du Perreau, Louis
Du Perreau, Louis
Marillac, Charles de
La Mothe-Fénélon, Bertrand de Salignac de
Castelneau, Michel de
Castelneau, Michel de
Castelneau, Michel de
Castion, Jean-Jacques de
Castion, Jean-Jacques de
Bellièvre, Pomponne de
Grangier, Jean
Florin, Jean
Florin, Jean
Castelnau, Antoine de
Bochetel, Bernardin
Bochetel, Bernardin
Bochetel, Bernardin
La Pommeraie, Gilles de
Ancel, Guillaume
L'Aubespine, Sébastien de
Ferry, Jean
Blatier, Claude
Montdoucet, Claude de
Cambray, Jacques de
Cotignac, Jean de
Cotignac, Jean de
Cotignac, Jean de
La Vigne, Jean de
Noailles, François de, Bishop of Dax
Germigny, Jacques de
De Caix, Honoré
Pélisson, Raymond
De Caix, Honoré
De Seurre, Miguel
Nicot, Jean
Nicot, Jean
Saint-Gelais, Urbain de
Hémard, Charles de
d'Urfé, Claude
d'Armagnac, Georges
d'Armagnac, Georges
Babou, Philibert
Foix, Paul de
Clutin, Henri
Clutin, Henri
Clutin, Henri
Du Croc, Philibert
Du Croc, Philibert
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Vivonne, Jean de
Maillard, Guillaume
Daugerant, Louis
La Rivière, François de
Du Plessis, Guillaume
Marveilleux, Jean
Cléry, Peterman de
Villars, Jean de
Bellièvre, Pomponne de
Vigier, Jacques
Bellièvre, Jean de, sr. de Hautefort
Harlay, Nicolas de
Brûlart, Nicolas de
Dodieu, Claude
De Pins, Jean
Richer, Christophe
Danzay, Charles de
Du Bellay, Jean
Marillac, Charles de
Marillac, Charles de
Noailles, Gilles de, Abbot of L'Isle
La Mothe-Fénélon, Bertrand de Salignac de
Monstiers, Jean de
Carli, Grégoire
Grantrie, Pierre de
Florin, Jean
Guillart, Charles
La Rouchebeaucourt
Calvimont, Jean de
Dodieu, Claude
De Selve, Georges
Crotto, Livio
Ancel, Guillaume
La Forest, Jean de
Marillac, Charles de
Maggio, Vincenzo
Cambray, Jacques de
Cambray, Jacques de
Grantrie, Guillaume de Grandchamp de
Lancosme, Jacques Savary de
De Caix, Honoré
Pélisson, Raymond
Germigny, Jacques de
De Caix, Honoré
De Caix, Honoré
Nicot, Jean
Nicot, Jean
Dinteville, François de
Vivonne, Jean de
Des Barres, Louis
Clutin, Henri
Clutin, Henri
d'Ebrard de Saint Sulpice, Jean
Vivonne, Jean de
Daugerant, Louis
Daugerant, Louis
Morlet, Antoine
Daugerant, Louis
Morlet, Antoine
Daugerant, Louis
Daugerant, Louis
de Crascier, Balthazar
La Croix, Nicolas de
Bellièvre, Jean de, sr. de Hautefort
Harlay, Nicolas de
Clausse, Henri
Crassier, Bernard de
Brûlart, Nicolas de
d'Armagnac, Georges
d'Armagnac, Georges
Pellicier, Guillaume
Du Ferrier, Arnaud
Hurault, André
Seyssel, Claude de
Danzay, Charles de
Danzay, Charles de
Danzay, Charles de
De Seurre, Michel
Castelneau, Michel de
L'Aubspine, Guillaume de
La Fin, Jean de
La Fontaine, Robert de
Moret, Antoine de
La Mothe-Fénélon, Bertrand de Salignac de
Salazar, Louis de
Salazar, Louis de
Cambray, Jean-Jacques de
Castion, Jean-Jacques de
Grangier, Jean
Dodieu, Claude
Mesnage, Jacques
Vulcob, Jean de, sr. de Sassy
Ancel, Guillaume
Ancel, Guillaume
Ancel, Guillaume
L'Aubespine, Sébastien de
Rougier, François, Baron of Ferrals
Montdoucet, Claude de
Noailles, Gilles de, Abbot of L'Isle
Noailles, Gilles de, Abbot of L'Isle
Lancosme, Jacques Savary de
De Brèves, François Savary
De Brèves, François Savary
De Caix, Honoré
De Caix, Honoré
De Caix, Honoré
Nicot, Jean
d'Urfé, Claude
Babou, Philibert
Carmain, Paul de
Vivonne, Jean de
Schomberg, Gaspard de
d'Ebrard de Saint Sulpice, Jean
Vivonne, Jean de
Daugerant, Louis
Daugerant, Louis
Bellièvre, Pomponne de
Bellièvre, Jean de, sr. de Hautefort
Vigier, Jean
Vigier, Jacques
Vigier, Jacques
Langrac, Jean de
De Baif, Lazare
De Selve, Georges
De Selve, Odet
Du Ferrier, Arnaud
Hurault, André
Hurault, André
Seyssel, Claude de
La Pommeraie, Gilles de
Pot, Jean
De Selve, Odet
La Fin, Jean de
L'Aubspine, Guillaume de
Boistaillé, Jean Hurault de
Castion, Jean-Jacques de
Castion, Jean-Jacques de
Castion, Jean-Jacques de
Grantrie, Pierre de
Bochetel, Bernardin
Ancel, Guillaume
Ancel, Guillaume
Bochetel, Jacques
Testu, Jean
Blatier, Claude
La Forest, Jean de
Rincon, Antoine de
La Vigne, Jean de
Dolu, Jean
Pétremol, Antoine de
Pétremol, Antoine de
Monluc, Jean de, Bishop of Valence
De Brèves, François Savary
Nicot, Jean
Dinteville, François de
Dinteville, François de
Guillart, André
Rohan, François de
d'Angennes, Charles, Cardinal of Rambouillet
Rougier, François, Baron of Ferrals
Carmain, Paul de
Clutin, Henri
Courcelles, Baron de
L'Aubespine, Sébastien de
Fourquevaux, Raymond de Beccarie de Pavie, Baron of
Longlée, Pierre de Seguson de
Daugerant, Louis
Coignet, Mathieu
Mendoza, Diego de
L'Aubespine, Sébastien de
Clausse, Henri
Vigier, Jean
Wallier, Jean
Montluc, Jean de
Du Gabre, Dominique
Noailles, François de, Bishop of Dax
Canossa, Louis de
Vigier, Jacques
De Selve, Georges
Noailles, François de, Bishop of Dax
Calvimont, Jean de

In [42]:
for idx, id, n, p, y, lat, long, _ in df.itertuples():
    print(p)

Denmark
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Portugal
Rome
Portugal
Rome
Rome
Rome
Rome
Savoy
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Venice
Denmark
England
England
England
England
England
England
England
Grisons
England
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
Denmark
England
England
Denmark
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Savoy
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Ferrara
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Rome
Rome
Scotland
Scotland
Spain
Venice
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
Ferrara
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Spain
Spain
Scotland
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Poland
Poland
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Ferrara
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Rome
Rome
Rome
Rome
Rome
Savoy
Saxony
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Tuscany
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Venice
Denmark
Denmark
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Savoy
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Swiss Cantons
Venice
Venice
Holy Roman Empire

In [ ]:
for item in df.itertuples():
    if item.place == "Denmark":
        df.at[item.Index, "place"] = "Den."
        
df["place"].unique() # get unique values in a column

array(['Den.', 'England', 'Geneva', 'Grisons', 'Holy Roman Empire',
       'Netherlands', 'Ottoman Empire', 'Portugal', 'Rome', 'Scotland',
       'Spain', 'Swiss Cantons', 'Venice', 'Poland', 'Savoy', 'Ferrara',
       'Saxony', 'Tuscany'], dtype=object)

In [46]:
# Englad => Eng.
# if only changing one name, use .loc[]

df.loc[df["place"] == "England", "place"] = "Eng."
df["place"].unique()

array(['Den.', 'Eng.', 'Geneva', 'Grisons', 'Holy Roman Empire',
       'Netherlands', 'Ottoman Empire', 'Portugal', 'Rome', 'Scotland',
       'Spain', 'Swiss Cantons', 'Venice', 'Poland', 'Savoy', 'Ferrara',
       'Saxony', 'Tuscany'], dtype=object)

In [48]:
# .replace() for multiple

# hash = {
#     "Holy Roman Empire": "HRE",
#     "Geneva": "Gen.",   
# }

hash = {name:f"{name[:3]}." for name in df["place"].unique() if len(name) != 4}
hash

{'Geneva': 'Gen.',
 'Grisons': 'Gri.',
 'Holy Roman Empire': 'Hol.',
 'Netherlands': 'Net.',
 'Ottoman Empire': 'Ott.',
 'Portugal': 'Por.',
 'Scotland': 'Sco.',
 'Spain': 'Spa.',
 'Swiss Cantons': 'Swi.',
 'Venice': 'Ven.',
 'Poland': 'Pol.',
 'Savoy': 'Sav.',
 'Ferrara': 'Fer.',
 'Saxony': 'Sax.',
 'Tuscany': 'Tus.'}

In [50]:
df["place"] = df["place"].replace(hash)
df["place"].unique()

array(['Den.', 'Eng.', 'Gen.', 'Gri.', 'Hol.', 'Net.', 'Ott.', 'Por.',
       'Rome', 'Sco.', 'Spa.', 'Swi.', 'Ven.', 'Pol.', 'Sav.', 'Fer.',
       'Sax.', 'Tus.'], dtype=object)

In [51]:
# pandas operators & (and), | (or), ~ (not)

# find ambassador at location at same time

df.loc[df["place"] == "Den."].count()

id          40
name        40
place       40
year        40
lat         40
long        40
lat_long    40
dtype: int64

In [52]:
df.loc[(df["place"] == "Den.") & (df["year"] < 1561) & (df["year"] > 1550)].count()

id          4
name        4
place       4
year        4
lat         4
long        4
lat_long    4
dtype: int64

In [53]:
df.loc[(df["place"] == "Den.") & (df["year"] < 1561) & (df["year"] > 1550)]

      id                name place  year    lat   long      lat_long
421  421  Danzay, Charles de  Den.  1560  55.68  12.57  55.68, 12.57
422  422  Danzay, Charles de  Den.  1557  55.68  12.57  55.68, 12.57
638  638  Danzay, Charles de  Den.  1558  55.68  12.57  55.68, 12.57
704  704  Danzay, Charles de  Den.  1559  55.68  12.57  55.68, 12.57

In [ ]:
# use ~ for not 
# how many ambassadors NOT in Den. between 1550 and 1561
df.loc[~(df["place"] == "Den.") & (df["year"] < 1561) & (df["year"] > 1550)].count()

id          117
name        117
place       117
year        117
lat         117
long        117
lat_long    117
dtype: int64

In [56]:
important_ambs = ["Eng.", "Ott.", "Ven."]

df.loc[(df["place"].isin(important_ambs)) & (df["year"] < 1561) & (df["year"] > 1550)].count()

id          40
name        40
place       40
year        40
lat         40
long        40
lat_long    40
dtype: int64

In [57]:
for item in df["place"].unique():
    if item in important_ambs:
        print(f"is {item} in important ambs list? {item in important_ambs} ")

is Eng. in important ambs list? True
is Ott. in important ambs list? True
is Ven. in important ambs list? True