# Variables + Methods
------------------------

## Simple Variables 

- string (str)
- int
- float
- boolean

In [159]:
# string
string = "any sequence of characters" # strings use quotes "" or '' 
print(string)
print(type(string))

# never name variables this way - it should declare things such as the goal of the variable; s = bad variable name
s = str("something else")
print(type(s), s)

# use snake casting aka underscore to define variables, not hyphens, not NumberString or numberString
number_string = "123"

#Jupyter will print (display) the last line of a cell automatically
number_string

any sequence of characters
<class 'str'>
<class 'str'> something else

'123'

In [160]:
# string methods

print(type(string))
print(string.capitalize())  # capitalizes first letter
print(string.upper())       # makes all letters uppercase
print(string.isnumeric())  # checks if string is numeric
print(string.endswith("s"))  # checks if string ends with specified character(s)

<class 'str'>
Any sequence of characters
ANY SEQUENCE OF CHARACTERS
False
True

In [161]:
# integer ; int
# whole numbers, positive or negative, without decimals

x = 1
y = int(3)

print(x)
print(type(y))

# aligning info to outputs
print("x plus y equals", x+y, ", but with commas")  # comma method aka no f string
print(f"x plus y equals {x + y}, but with an f string")  # f-string method

# concatenation is different from addition
string + str(x)  # converts integer x to string so it can be concatenated

1
<class 'int'>
x plus y equals 4 , but with commas
x plus y equals 4, but with an f string

'any sequence of characters1'

In [162]:
# float
# decimal numbers, positive or negative, with decimals

# we can overwrite variable names
x = 1.0
y = float(42)

print(f"x = {x}, y = {y}, and y is a {type(y)}")

# do math with float
#notice what happens to 5 
print(f"x + y = {x+y}, but y + 5 = {y+5}")

x = 1.0, y = 42.0, and y is a <class 'float'>
x + y = 43.0, but y + 5 = 47.0

In [163]:
# floats and ints have few methods
x = 10
y = 5

# +, -, *, / are operators and % is modulus (remainder of division), ** is exponentiation
print(x*y)
print(x/y)
print(x%y, "modulus")
print(x/3, "division")
print(x//3, "floor division")

50
2.0
0 modulus
3.3333333333333335 division
3 floor division

In [164]:
# Boolean = true/false

is_true = True
is_false = bool(0)  # 0 is false, any other number is true
print(is_true)
print(is_false)

True
False

In [165]:
# Variables store the resolution of code 
outcome = x + y
print(outcome)

15

## Complex Variables (collections)

- set
- tuple
- list
- dictionary
- combine collections

In [166]:
# set
# no duplicates, no indexed (unordered), no static order, is iterable (can loop through it - do something repeatidly), 
#   is a collection, is mutable (can be changed)

set1 = {"Ben", "Jason", "Darlene", "Jason", "Erin"}
set_declared = set(["Ben", "Jason", "G", "G", "Darlene"])

print(f"set1 = {set1}")
print(f"set_declared = {set_declared}")

set1 = {'Jason', 'Erin', 'Darlene', 'Ben'}
set_declared = {'Jason', 'Darlene', 'G', 'Ben'}

In [167]:
# Method to find overlaps
overlaps = set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [168]:
# Method to find difference between two sets
diff = set1.difference(set_declared)
diff

{'Erin'}

In [169]:
# Method to add to a set
set1.add("Halle")
set1

{'Ben', 'Darlene', 'Erin', 'Halle', 'Jason'}

In [170]:
# Method to remove from a set
set1.remove("Darlene")
set1

{'Ben', 'Erin', 'Halle', 'Jason'}

In [171]:
# Tuple
# non-mutable (cannot be changed), ordered (indexed), allows duplicates, is iterable, is a collection
tuple1 = (1,2,3,4)
tuple_declared = tuple((3,4,5,6))

print(f"tuple1 = {tuple1}")
print(f"tuple_declared = {tuple_declared}")

tuple1 = (1, 2, 3, 4)
tuple_declared = (3, 4, 5, 6)

In [172]:
tuple1 = (1,2,3,4,5) # overwriting, not changing
tuple1

(1, 2, 3, 4, 5)

In [173]:
tuple1.count(2)  # counts how many times 2 appears in the tuple

1

In [174]:
tuple1.index(1) # return index of value (position of first occurrence)

0

In [175]:
print(f"tuple1 = {tuple1}")
tuple1[0] # return value at index 0

tuple1 = (1, 2, 3, 4, 5)

1

In [176]:
# list
# mutable (can be changed), ordered (indexed), allows duplicates, is iterable, is a collection
list1 = ["G","G", "Paola", "Emil"]
list_declared = list(("G", "G", "Paola", "Emil"))

print(f"list1 = {list1}")
print(f"list_declared = {list_declared}")

list1 = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [177]:
# Index Notation [:]
print(f"list1 = {list1}")
print(f"first item in list1 = {list1[0]}")
print(f"last item in list1 = {list1[-1]}")
print(f"series between 2 & 3 items = {list1[1:3]}") # second item is exclusive
print(f"everything before index 3 = {list1[:3]}")
print(f"everything after the first item = {list1[1:]}")

list1 = ['G', 'G', 'Paola', 'Emil']
first item in list1 = G
last item in list1 = Emil
series between 2 & 3 items = ['G', 'Paola']
everything before index 3 = ['G', 'G', 'Paola']
everything after the first item = ['G', 'Paola', 'Emil']

In [ ]:
# list methods

# add 
list1.append("Clare")
list2 = list1.append("Nathan")
print(f"appended Clare = {list1}")
print(f"list2 = {list2}")  # list2 is None because append does not return anything

# remove
removed = list1.pop()
print(f"removed {removed}. New list1 is {list1}")

# change index
list1[1] = "J"
print(f"Index 1 of list1 changed. New list1 = {list1}")

# combine lists
combined_list1 = [list1, list_declared] # creates a list of lists (two-dimensional list)
print(f"combined_list1 = {combined_list1}")

combined_lists = [*list1, *list_declared] # unpacks both lists into a new list (creates a new place in memory)
print(f"combining lists into one = {combined_lists}")

list1.extend(list_declared) # extends list1 by adding elements from list_declared to the end of list1, modifies list1 in place
print(f"list1 after extension = {list1}")

appended Clare = ['G', 'G', 'Paola', 'Emil', 'Clare', 'Nathan']
list2 = None
removed Nathan. New list1 is ['G', 'G', 'Paola', 'Emil', 'Clare']
Index 1 of list1 changed. New list1 = ['G', 'J', 'Paola', 'Emil', 'Clare']
combined_list1 = [['G', 'J', 'Paola', 'Emil', 'Clare'], ['G', 'G', 'Paola', 'Emil']]
combining lists into one = ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']
list1 after extension = ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']

In [179]:
# dictionary
# key:value pairs, indexed by key, not ordered, duplicates allowed for values but not keys, is mutable (can be changed)
# {key: value, key1: value}
dict1 = {"name": "Erin", "age": 21}
dict_declared = dict(name="Erin", age=21) # we never do this

print(dict_declared)
dict1

{'name': 'Erin', 'age': 21}

{'name': 'Erin', 'age': 21}

In [180]:
# get values
dict1["name"]

'Erin'

In [181]:
# change value
dict1["name"] = "Erin F"
dict1

{'name': 'Erin F', 'age': 21}

In [183]:
# call keys
dict1.keys()

dict_keys(['name', 'age'])

In [184]:
# call values
dict1.values()

dict_values(['Erin F', 21])

In [ ]:
students = [
    {"name": "G", "age": 18},
    {"name": "Darlene", "age": 20},
    {"name": "Jason", "age": 21},
    {"name": "Erin", "age": 21}
    ]
students

[{'name': 'G', 'age': 18},
 {'name': 'Darlene', 'age': 20},
 {'name': 'Jason', 'age': 21},
 {'name': 'Erin', 'age': 21}]

In [188]:
students[1] # get second student

{'name': 'Darlene', 'age': 20}

In [189]:
students[2]["name"]  # access the name of the third student (index 2)

'Jason'

In [190]:
students.pop(-2)  # removes and returns the last student in the list

{'name': 'Jason', 'age': 21}