In [10]:
from functions.eda import eda
import pandas as pd 
url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/soccer-players.csv"
df = pd.read_csv(url)
eda(df)

=====DF Shape: (32403, 23)=====
***Numeric Columns***
player_id

	Num NA: 0
	% NA: 0.0%
	Min: 10
	Max: 1309800
	Range: 1309790
	25%: 106698.0
	75%: 524208.5
	St. Dev.: 280683.13989913743
	Num unique: 32403
last_season

	Num NA: 0
	% NA: 0.0%
	Min: 2012
	Max: 2024
	Range: 12
	25%: 2016.0
	75%: 2023.0
	St. Dev.: 3.965914065614276
	Num unique: 13
current_club_id

	Num NA: 0
	% NA: 0.0%
	Min: 3
	Max: 110302
	Range: 110299
	25%: 403.0
	75%: 3060.0
	St. Dev.: 11601.98297795499
	Num unique: 437
height_in_cm

	Num NA: 2344
	% NA: 7.233898095855322%
	Min: 17.0
	Max: 207.0
	Range: 190.0
	25%: 178.0
	75%: 187.0
	St. Dev.: 6.971224376399548
	Num unique: 52
market_value_in_eur

	Num NA: 1534
	% NA: 4.734129555905318%
	Min: 10000.0
	Max: 200000000.0
	Range: 199990000.0
	25%: 100000.0
	75%: 700000.0
	St. Dev.: 6362017.247132119
	Num unique: 129
highest_market_value_in_eur

	Num NA: 1534
	% NA: 4.734129555905318%
	Min: 10000.0
	Max: 200000000.0
	Range: 199990000.0
	25%: 275000.0
	75%: 2800000.0
	St. Dev.: 9653897.3865907
	Num unique: 206


***CATEGORICAL COLS***
first_name
	Num NA: 2058
	% NA: 6.351263771872976%
	Num Uniques: 6966
last_name
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 23701
name
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 31708
player_code
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 31667
country_of_birth
	Num NA: 2803
	% NA: 8.650433601826991%
	Num Uniques: 185
city_of_birth
	Num NA: 2461
	% NA: 7.5949757738481%
	Num Uniques: 8537
country_of_citizenship
	Num NA: 380
	% NA: 1.1727309199765454%
	Num Uniques: 183
date_of_birth
	Num NA: 47
	% NA: 0.14504829799709903%
	Num Uniques: 9272
sub_position
	Num NA: 185
	% NA: 0.5709347899885814%
	Num Uniques: 13
position
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 5
Unique Vals: ['Attack' 'Goalkeeper' 'Defender' 'Midfield' 'Missing']
foot
	Num NA: 2593
	% NA: 8.002345461839953%
	Num Uniques: 3
Unique Vals: ['right' 'left' nan 'both']
contract_expiration_date
	Num NA: 12131
	% NA: 37.43789155325124%
	Num Uniques: 114
agent_name
	Num NA: 16015
	% NA: 49.424436009011515%
	Num Uniques: 2833
image_url
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 26561
url
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 32403
current_club_domestic_competition_id
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 14
current_club_name
	Num NA: 0
	% NA: 0.0%
	Num Uniques: 437

In [ ]:
# height_in_cm

from scipy import stats

heights = df["height_in_cm"]
sk = stats.skew(heights, nan_policy="omit")
kurt = stats.kurtosis(heights, nan_policy="omit")
print(f"skew = {sk:.3f}; kurt = {kurt:.3f}")

skew = -1.775; kurt = 40.365

negative skewness = tail drawn out to left, outliers in the negative direction (more dispersed towards the left)

high kurtosis = a lot of the data is in the tail, longer and heavier tails

In [12]:
# IQR for outliers
Q1 = heights.quantile(0.25)
Q3 = heights.quantile(0.75)

IQR = Q3 - Q1
Q1, Q3, IQR

(np.float64(178.0), np.float64(187.0), np.float64(9.0))

In [13]:
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
hl = heights.loc[(heights<lower_bound) | (heights>upper_bound)].to_list()
hl

[201.0,
 164.0,
 205.0,
 159.0,
 164.0,
 164.0,
 161.0,
 201.0,
 201.0,
 203.0,
 160.0,
 164.0,
 207.0,
 201.0,
 163.0,
 162.0,
 164.0,
 163.0,
 203.0,
 162.0,
 164.0,
 201.0,
 204.0,
 201.0,
 201.0,
 164.0,
 202.0,
 201.0,
 202.0,
 163.0,
 163.0,
 201.0,
 162.0,
 163.0,
 201.0,
 164.0,
 164.0,
 164.0,
 163.0,
 164.0,
 164.0,
 164.0,
 202.0,
 164.0,
 164.0,
 163.0,
 201.0,
 201.0,
 203.0,
 164.0,
 163.0,
 164.0,
 163.0,
 202.0,
 163.0,
 203.0,
 204.0,
 203.0,
 201.0,
 201.0,
 203.0,
 159.0,
 163.0,
 202.0,
 201.0,
 203.0,
 160.0,
 164.0,
 201.0,
 201.0,
 202.0,
 162.0,
 163.0,
 161.0,
 203.0,
 163.0,
 201.0,
 202.0,
 164.0,
 202.0,
 202.0,
 203.0,
 202.0,
 201.0,
 204.0,
 202.0,
 162.0,
 206.0,
 201.0,
 203.0,
 205.0,
 204.0,
 163.0,
 163.0,
 164.0,
 201.0,
 162.0,
 201.0,
 202.0,
 164.0,
 19.0,
 164.0,
 163.0,
 163.0,
 201.0,
 164.0,
 18.0,
 202.0,
 160.0,
 164.0,
 206.0,
 202.0,
 164.0,
 18.0,
 164.0,
 205.0,
 204.0,
 204.0,
 163.0,
 164.0,
 163.0,
 164.0,
 164.0,
 163.0,
 206.0,
 164.0,
 162.0,
 205.0,
 202.0,
 163.0,
 17.0,
 161.0,
 202.0,
 164.0,
 204.0,
 206.0,
 160.0,
 204.0,
 164.0,
 164.0]

In [14]:
def cm_to_ft(num):
    return (num * 0.393701) / 12
hl1 = [cm_to_ft(num) for num in hl]
hl1

[6.59449175,
 5.3805803333333335,
 6.725725416666667,
 5.21653825,
 5.3805803333333335,
 5.3805803333333335,
 5.2821550833333335,
 6.59449175,
 6.59449175,
 6.660108583333334,
 5.249346666666667,
 5.3805803333333335,
 6.7913422500000005,
 6.59449175,
 5.347771916666667,
 5.3149635,
 5.3805803333333335,
 5.347771916666667,
 6.660108583333334,
 5.3149635,
 5.3805803333333335,
 6.59449175,
 6.6929170000000004,
 6.59449175,
 6.59449175,
 5.3805803333333335,
 6.627300166666667,
 6.59449175,
 6.627300166666667,
 5.347771916666667,
 5.347771916666667,
 6.59449175,
 5.3149635,
 5.347771916666667,
 6.59449175,
 5.3805803333333335,
 5.3805803333333335,
 5.3805803333333335,
 5.347771916666667,
 5.3805803333333335,
 5.3805803333333335,
 5.3805803333333335,
 6.627300166666667,
 5.3805803333333335,
 5.3805803333333335,
 5.347771916666667,
 6.59449175,
 6.59449175,
 6.660108583333334,
 5.3805803333333335,
 5.347771916666667,
 5.3805803333333335,
 5.347771916666667,
 6.627300166666667,
 5.347771916666667,
 6.660108583333334,
 6.6929170000000004,
 6.660108583333334,
 6.59449175,
 6.59449175,
 6.660108583333334,
 5.21653825,
 5.347771916666667,
 6.627300166666667,
 6.59449175,
 6.660108583333334,
 5.249346666666667,
 5.3805803333333335,
 6.59449175,
 6.59449175,
 6.627300166666667,
 5.3149635,
 5.347771916666667,
 5.2821550833333335,
 6.660108583333334,
 5.347771916666667,
 6.59449175,
 6.627300166666667,
 5.3805803333333335,
 6.627300166666667,
 6.627300166666667,
 6.660108583333334,
 6.627300166666667,
 6.59449175,
 6.6929170000000004,
 6.627300166666667,
 5.3149635,
 6.758533833333334,
 6.59449175,
 6.660108583333334,
 6.725725416666667,
 6.6929170000000004,
 5.347771916666667,
 5.347771916666667,
 5.3805803333333335,
 6.59449175,
 5.3149635,
 6.59449175,
 6.627300166666667,
 5.3805803333333335,
 0.6233599166666667,
 5.3805803333333335,
 5.347771916666667,
 5.347771916666667,
 6.59449175,
 5.3805803333333335,
 0.5905515,
 6.627300166666667,
 5.249346666666667,
 5.3805803333333335,
 6.758533833333334,
 6.627300166666667,
 5.3805803333333335,
 0.5905515,
 5.3805803333333335,
 6.725725416666667,
 6.6929170000000004,
 6.6929170000000004,
 5.347771916666667,
 5.3805803333333335,
 5.347771916666667,
 5.3805803333333335,
 5.3805803333333335,
 5.347771916666667,
 6.758533833333334,
 5.3805803333333335,
 5.3149635,
 6.725725416666667,
 6.627300166666667,
 5.347771916666667,
 0.5577430833333333,
 5.2821550833333335,
 6.627300166666667,
 5.3805803333333335,
 6.6929170000000004,
 6.758533833333334,
 5.249346666666667,
 6.6929170000000004,
 5.3805803333333335,
 5.3805803333333335]

In [15]:
heights = heights.loc[heights > 150]
heights

0        184.0
1        190.0
4        194.0
7        179.0
8        193.0
         ...
32393    186.0
32394    175.0
32398    178.0
32399    180.0
32400    164.0
Name: height_in_cm, Length: 30055, dtype: float64

In [16]:
sk = stats.skew(heights, nan_policy="omit")
kurt = stats.kurtosis(heights, nan_policy="omit")
print(f"skew = {sk}; kurt = {kurt}")

skew = -0.046876795739341504; kurt = -0.3076357973086883

In [18]:
# date_of_birth 

bm_df = df[["date_of_birth", "name", "position"]]
bm_df

             date_of_birth                name    position
0      1978-06-09 00:00:00      Miroslav Klose      Attack
1      1980-08-06 00:00:00  Roman Weidenfeller  Goalkeeper
2      1981-01-30 00:00:00    Dimitar Berbatov      Attack
3      1978-05-08 00:00:00               Lúcio    Defender
4      1981-03-18 00:00:00          Tom Starke  Goalkeeper
...                    ...                 ...         ...
32398  2003-02-04 00:00:00           João Neto      Attack
32399  2007-09-06 00:00:00         Fábio Sambú      Attack
32400  2005-02-19 00:00:00      Hakim Sulemana      Attack
32401  2006-01-01 00:00:00     Diallo Sanoussi    Midfield
32402  2006-06-05 00:00:00        Issaka Seidu    Defender

[32403 rows x 3 columns]

In [22]:
bm_df["date_of_birth"] = pd.to_datetime(bm_df["date_of_birth"])
bm_df.head

C:\Users\erinl\AppData\Local\Temp\ipykernel_30672\3642306207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bm_df["date_of_birth"] = pd.to_datetime(bm_df["date_of_birth"])

<bound method NDFrame.head of       date_of_birth                name    position
0        1978-06-09      Miroslav Klose      Attack
1        1980-08-06  Roman Weidenfeller  Goalkeeper
2        1981-01-30    Dimitar Berbatov      Attack
3        1978-05-08               Lúcio    Defender
4        1981-03-18          Tom Starke  Goalkeeper
...             ...                 ...         ...
32398    2003-02-04           João Neto      Attack
32399    2007-09-06         Fábio Sambú      Attack
32400    2005-02-19      Hakim Sulemana      Attack
32401    2006-01-01     Diallo Sanoussi    Midfield
32402    2006-06-05        Issaka Seidu    Defender

[32403 rows x 3 columns]>

In [23]:
bm_df["month"] = bm_df["date_of_birth"].dt.month
bm_df

C:\Users\erinl\AppData\Local\Temp\ipykernel_30672\1499764934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bm_df["month"] = bm_df["date_of_birth"].dt.month

      date_of_birth                name    position  month
0        1978-06-09      Miroslav Klose      Attack    6.0
1        1980-08-06  Roman Weidenfeller  Goalkeeper    8.0
2        1981-01-30    Dimitar Berbatov      Attack    1.0
3        1978-05-08               Lúcio    Defender    5.0
4        1981-03-18          Tom Starke  Goalkeeper    3.0
...             ...                 ...         ...    ...
32398    2003-02-04           João Neto      Attack    2.0
32399    2007-09-06         Fábio Sambú      Attack    9.0
32400    2005-02-19      Hakim Sulemana      Attack    2.0
32401    2006-01-01     Diallo Sanoussi    Midfield    1.0
32402    2006-06-05        Issaka Seidu    Defender    6.0

[32403 rows x 4 columns]

In [24]:
sk = stats.skew(bm_df["month"], nan_policy="omit")
kurt = stats.kurtosis(bm_df["month"], nan_policy="omit")

sk, kurt

(np.float64(0.26205852205376656), np.float64(-1.1306173317984487))

In [ ]:
months = bm_df["month"]
md = []