## Univariate Statistics

- measure distribution of a single variable 

- 4 types of measures
    - central tendency
        - mean : average of all values
        - median : middle values when sorted
        - mode : most frequent value
    - disperison
        - range : difference between max and min
        - variance : average of squared differences from mean
        - standard deviation : square root of variance
    - distribution shape
        - Skewness: Measure of symmetry in data
        - Kurtosis: Measure of the “tailedness” of the data
            - how much of data are outliers 
            - The more the Kurtosis, the more the data is in the tails
                - Normal Distribution has a Kurtosis of 3 : Pearson ; Fisher = Pearson - 3
                - Higher Kurtosis: More data in the tails
                - Lower Kurtosis: Less data in the tails
                - Measures how many outliers
    - graphical representation


- variance use
    - Variance is used to measure how spread out the values in a data set are
    - A high variance indicates that the data points are very spread out from the mean

- standard deviation use
    - Turns variance into a more understandable metric
    - Standard deviation explains how much the data deviates from the mean
    - Each standard deviation away from the mean accounts for a certain percentage of the data

- skewness : normal, Gaussian, bell curve
    - 68% of data falls within 1 standard deviation
    - 95% of data falls within 2 standard deviations
    - 99.7% of data falls within 3 standard deviations
    -  = Median = Mode

- skewness : positive / negative
    - Positive Skewness: Tail is farther on the larger side of the x-axis
    - Negative Skewness: Tail is farther on the smaller side of the x-axis

In [23]:
import pandas as pd

url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/soccer-players.csv"
df = pd.read_csv(url)
df.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [24]:
def convert_height(cm) -> float:
    """
    Convert cm to feet
    
    Args: 
        cm (int): the num of cm
    Return:
        feet (float): num of feet
    
    """
    
    return (cm * 0.393701) / 12

In [25]:
df["height_in_ft"] = df["height_in_cm"].apply(convert_height)
df["height_in_ft"]

0        6.036749
1        6.233599
2             NaN
3             NaN
4        6.364833
           ...
32398    5.839898
32399    5.905515
32400    5.380580
32401         NaN
32402         NaN
Name: height_in_ft, Length: 32403, dtype: float64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32403 entries, 0 to 32402
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32403 non-null  int64
 1   first_name                            30345 non-null  object
 2   last_name                             32403 non-null  object
 3   name                                  32403 non-null  object
 4   last_season                           32403 non-null  int64
 5   current_club_id                       32403 non-null  int64
 6   player_code                           32403 non-null  object
 7   country_of_birth                      29600 non-null  object
 8   city_of_birth                         29942 non-null  object
 9   country_of_citizenship                32023 non-null  object
 10  date_of_birth                         32356 non-null  object
 11  sub_position                          32218 non-null  object
 12  position                              32403 non-null  object
 13  foot                                  29810 non-null  object
 14  height_in_cm                          30059 non-null  float64
 15  contract_expiration_date              20272 non-null  object
 16  agent_name                            16388 non-null  object
 17  image_url                             32403 non-null  object
 18  url                                   32403 non-null  object
 19  current_club_domestic_competition_id  32403 non-null  object
 20  current_club_name                     32403 non-null  object
 21  market_value_in_eur                   30869 non-null  float64
 22  highest_market_value_in_eur           30869 non-null  float64
 23  height_in_ft                          30059 non-null  float64
dtypes: float64(4), int64(3), object(17)
memory usage: 5.9+ MB

In [27]:
df.describe()

,player_id,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur,height_in_ft
count,3.240300e+04,32403.000000,32403.000000,30059.000000,3.086900e+04,3.086900e+04,30059.000000
mean,3.445789e+05,2019.337777,4809.252045,182.291161,1.611350e+06,3.675045e+06,5.980684
std,2.806831e+05,3.965914,11601.982978,6.971224,6.362017e+06,9.653897e+06,0.228715
min,1.000000e+01,2012.000000,3.000000,17.000000,1.000000e+04,1.000000e+04,0.557743
25%,1.066980e+05,2016.000000,403.000000,178.000000,1.000000e+05,2.750000e+05,5.839898
50%,2.824210e+05,2020.000000,1071.000000,183.000000,2.500000e+05,8.000000e+05,6.003940
75%,5.242085e+05,2023.000000,3060.000000,187.000000,7.000000e+05,2.800000e+06,6.135174
max,1.309800e+06,2024.000000,110302.000000,207.000000,2.000000e+08,2.000000e+08,6.791342

In [28]:
df["height_in_ft"].std()

0.22871483401772097

In [29]:
df["height_in_ft"].var()
df["height_in_ft"].std()

0.22871483401772097

In [ ]:
df["height_in_ft"].mnea()

np.float64(5.980684355462036)

In [32]:
df["height_in_ft"].median()

6.00394025

In [33]:
df["height_in_ft"].mode(0)[0]

np.float64(nan)

In [35]:
df["height_in_ft"].min()
df["height_in_ft"].max()

6.7913422500000005

In [36]:
df["height_in_ft"].skew()

np.float64(-1.775147504851816)

In [37]:
from scipy import stats

In [38]:
stats.kurtosis(df["height_in_cm"], nan_policy= "omit")

np.float64(40.36548066183285)

In [ ]:
def eda(df) -> None:
    """
    Evaluate basic statistics on a dataframe
    
    args:
        df (Pandas.Dataframe) : datafram to evaluate
        
    returns:
        none
    """
print(f"{'='*5}DF Shape: {df.shape}{'=' +5}")
num_cols = []
cat_cols = []
for col in df.columns
    if pd. api.types.is_numeric_dtype(col):

SyntaxError: expected ':' (3569476269.py, line 12)